<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
        <div class="main-box">
            <a href="/login"><div class="box" ><i class="fa-solid fa-user"></i>
                <h3>Admin</h3>
                <p>Login as administrator to access the dashboard to manage app data.</p>
            </div></a>

            <a href="/login"><div class="box"><i class="fa-solid fa-chalkboard-user"></i>
                <h3>Teacher</h3>
                <p>Login as teacher to create courses assignment, and track student progress.</p>

            </div></a>
            <a href="/login"><div class="box"><i class="fa-brands fa-google-scholar"></i>
                <h3>Student</h3>
                <p>Login as a student to explore courses material and assignment.</p>
            </div></a>
        </div>
</body>
</html>